<br>

<div class="row text-center">
  <div class="col-sm-6 offset-3 text-center">
        <div class="card border-0 text-center">
          <small>Created by:</small>
          <%= image_tag gravatar_for(@article.user, 100), class:" rounded-circle image" %>
          <div class="card-body">
            <h5><%= link_to @article.user.username , user_path(@article.user), class:"card-title btn btn-info"  %></h5>
            <p class="card-text"><small class="text-muted"><%= pluralize(@article.user.articles.count, "article") %></small></p>
          </div>
        </div>

    <div class="card text-center">
      <h3 class="card-header">Title: <%= @article.title %> </h3>
      <h4> Description: </h4>
      <%= simple_format(@article.description) %>
      <div class="article-actions">
        <% if logged_in? && current_user == @article.user %>
        <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-sm btn-primary" %>
        <%= link_to 'Delete', article_path(@article), class: "btn btn-sm btn-danger",
                                 method: :delete, data: {confirm: "Are you sure?"} %>
        <% end %>
        <%= link_to 'View all articles', articles_path, class: "btn btn-sm btn-success" %>
      </div>
    </div>
  </div>
</div>
