
<% obj.each do |article| %>
<div class="row">
  <div class="col-10 col-lg-6 offset-lg-3 col-md-8 offset-md-2 offset-1">
    <div class="card text-center">
      <h4 class="card-header text-center"><%= link_to article.title, article_path(article)  %></h4>
      <div class="body"><%= truncate(article.description, length: 75) %></div>
      <div class="user-details">
        <small class="user-details-small">
                        Created by: <%= article.user.username %>
                        <%= time_ago_in_words(article.created_at) %> ago,
                        Last update: <%= time_ago_in_words(article.updated_at) %> ago
      </small>
      </div>
      <% if logged_in? && (current_user == article.user || current_user.admin?) %>
      <div class="article-actions">
        <%= link_to 'Edit', edit_article_path(article), class: "btn btn-sm btn-primary" %>
        <%= link_to 'Delete', article_path(article), class: "btn btn-sm btn-danger",
                                 method: :delete, data: {confirm: "Are you sure?"} %>
      </div>
      <% end %>
   </div>
 </div>
</div>
<br>

  <% end %>
