<h1 class= "text-center title">Welcome <%= "#{@user.username}'s Page"%> </h1>
<div class="row">
  <div class="col-4 offset-4 text-center">
    <%= image_tag gravatar_for(@user, 125), class:'rounded-circle' %>
  </div>
</div>
<br>
<%= will_paginate(@user_articles, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer) %>

<%= render 'articles', obj: @user_articles %>

<%= will_paginate(@user_articles, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer) %>
